.list-item{
    display: flex;
    justify-content: space-between;
    background-color: rgb(197, 220, 241);
    padding: 0.2rem 2rem;
    align-items: center;
    gap: 0.5rem;
}

.list-item:hover{
    background-color: rgb(86, 181, 236);
}

.list-item h5{
    font-size: 1.2rem;
    font-weight:normal;
}

.list-item button{
    padding: 0.8rem 2rem;
    border: none;
    outline: none;
    background-color: grey;
    color: white;
    border-radius: 1rem;
    font-size: 1rem;
}