
.app{
  width: 100%;
  padding: 1rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
}

.app h1{
  font-size: 1.5rem;
}

.clicker{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
}

@media only screen and (max-width: 800px) {
  .app{
    margin: auto;
  }
}

