
.app{
  padding: 1rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.app h1{
  font-size: 1.5rem;
}

.clicker{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

